#mainselection {
  overflow:hidden;
  width:120px;
  margin:10px ;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 1px 1px 11px #870005;
  background: #ffffff;
}

#mainselection select {
  border: 0;
  color: #330033;
  font-size: 15px;
  font-weight: bold;
  background: #ffffff;
  width: 120px;
}
